<div class="chat-container">
  <div class="text-center">
    <h2>Messagerie</h2>
    <hr>
    <div *ngIf="!loaders.data && chatMessageList.length < 1">
      Vous n'avez aucun message
    </div>
    <div *ngIf="!loaders.data && chatMessageList.length > 0">
      <div class="row col-12 col-md-8 mx-auto flex-column flex-md-row" style="min-height: 20em;">
        <div class="col-12 col-md-3 d-flex flex-column card p-2">
          <div *ngFor="let chatUser of chatMessagesUserList" class="my-2">
            <button (click)="selectUserConversation(chatUser)"
                    class=" btn btn-outline-primary"
                    style="width: 100%; height: 3em; display:flex;justify-content: space-between; align-items: center">
              <div
                style="height: 3em; width: 3em; overflow: hidden; position: relative; border-radius: 50%; box-shadow: 4px 0 9px rgba(0, 0, 0, .15)">
                <img *ngIf="chatUser.profilePicture"
                     [src]="getUserProfileImage(chatUser)" alt="Image"
                     style="max-height: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                <i *ngIf="!chatUser.profilePicture" class="fa fa-user fa-2x"
                   style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);"></i>
              </div>
              <small
                style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 0 .75em;">
                {{chatUser.firstName}} {{chatUser.lastName}}
              </small>
            </button>
          </div>
        </div>
        <div class="col-12 col-md-9 card p-3">
          <app-chat-box [chatMessageList]="getMessageListBySelectedUser()" [currentUser]="currentUser"
                        [toUser]="selectedUser"
                        style="margin-top: auto">
          </app-chat-box>
        </div>
      </div>
    </div>
  </div>
</div>
