@import "src/assets/scss/0.broth/colors";

.c-footer {
  height: 2rem;
  width: 100vw;
  background-color: $brand-primary-lighter;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 7px 7px #0000001c;
  display: flex;
  justify-content: center;
  align-items: center;
}
