<div class="c-admin-relation-modal">
  <div class="c-admin-relation-modal__header col-12 my-2">
    <div class="text-center">
      <h2>
        <span *ngIf="isViewing">Consulter </span>
        <span *ngIf="isEditing">Éditer </span>
        <span *ngIf="isCreating">Créer </span>
        <span>une relation</span>
      </h2>
      <hr>
    </div>
  </div>
  <form (submit)="save()" class="text-center">
    <div class="c-admin-relation-modal__content">
      <div class="col-12 col-md-10 mx-auto">
        <div class="form-group">
          <label for="user">
            Utilisateur
          </label>
          <select [(ngModel)]="relation.user" [disabled]="isViewing" class="form-control" id="user"
                  name="user">
            <option *ngFor="let user of users" [disabled]="user._id === relation?.user" [value]="user._id">
              {{user.email}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="relation-user">
            Utilisateur (relation)
          </label>
          <select [(ngModel)]="relation.relationUser" [disabled]="isViewing" class="form-control" id="relation-user"
                  name="relation-user">
            <option *ngFor="let user of users" [disabled]="user._id === relation?.user" [value]="user._id">
              {{user.email}}
            </option>
          </select>
        </div>

        <div *ngIf="isViewing">
          <hr>
          <small>Créée le : {{getFormattedDate(relation.createdAt)}}</small>
          <div *ngIf="relation.isEdited">
            <small>Éditée le : {{getFormattedDate(relation.editedAt)}}</small>
          </div>
          <div *ngIf="relation.isDeleted">
            <small>Supprimée le : {{getFormattedDate(relation.deletedAt)}}</small>
          </div>
        </div>

      </div>
    </div>

    <div class="c-admin-relation-modal__footer">
      <button *ngIf="isEditing || isCreating" [disabled]="loaders.save" class="col-10 btn btn-primary my-3"
              type="submit">
        <i *ngIf="loaders.save" class="fa fa-spinner fa-spin mr-2"></i>
        <span *ngIf="isEditing">Éditer</span>
        <span *ngIf="isCreating">Créer</span>
      </button>
    </div>
  </form>
</div>
