<div class="c-account-activation">
  <div class="col-12 col-md-6 mx-auto text-center">
    <h3>Activation de votre compte</h3>
    <hr>
    <div *ngIf="loaders.activation">
      <i class="fa fa-spinner fa-spin fa-2x mr-2"></i>
      <b>Activation de votre compte...</b>
    </div>
    <div *ngIf="!loaders.activation && error">
      <div class="alert alert-danger">
        <span>Une erreur s'est produite durant l'activation de votre compte</span>
      </div>
    </div>
    <div *ngIf="!loaders.activation && success">
      <div class="alert alert-primary">
        <p>Votre compte a bien été activé !</p>
        <a routerLink="/login">
          <i class="fa fa-arrow-right mr-2"></i>
          Cliquez ici pour vous connecter
        </a>
      </div>
    </div>
  </div>
</div>
