<div class="card text-center my-2">
  <div class="image-container text-center d-flex justify-content-center align-items-center">
    <img *ngIf="relationRequest.toUser.profilePicture"
         [src]="getUserProfilePicture()" alt="Card image cap"
         class="card-img-top p-2">
    <i *ngIf="!relationRequest.toUser.profilePicture"
       class="fa fa-user text-primary fa-3x d-flex justify-content-center align-items-center"></i>
  </div>
  <div class="card-body text-ellipsis">
    <a [ngbTooltip]="relationRequest.toUser.firstName + ' ' + relationRequest.toUser.lastName"
       [routerLink]="'/relation/' + relationRequest.toUser._id"
       class="card-title mb-2">
      {{relationRequest.toUser.firstName}} {{relationRequest.toUser.lastName}}
    </a>
  </div>
  <button (click)="cancelRequest(relationRequest.toUser._id)" *ngIf="canSendSuggestion" class="btn btn-primary btn-sm"
          style="border-top-left-radius: 0; border-top-right-radius: 0">
    <i class="fa fa-user-plus mr-2"></i>
    Inviter
  </button>
</div>
