@import "../../../../assets/scss/0.broth/colors";

.c-relation-item {
  position: relative;
  padding: 1em;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 0 9px rgba(0, 0, 0, .15);
  height: 12em;

  &__picture {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5em;
      height: 5em;
      overflow: hidden;
      text-align: center;
      border-radius: 50%;
      box-shadow: 4px 0 9px rgb(0 0 0 / 15%);

      img, i {
        max-width: 100%;
      }
    }
  }

  &__text {
    height: 25%;
    width: 100%;
  }

  &__add_button {
    color: $brand-primary;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: white;
      width: 100%;
      height: 80%;
      left: 50%;
      top: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.image-container {
  height: 5em;
  width: 5em;
  margin: auto;
  overflow: hidden;
  padding: .5em;

  img {
    min-width: 100%;
    min-height: 100%;
  }
}
