@import "../../../assets/scss/0.broth/colors.scss";

form {
  input, textarea {
    margin-bottom: 1em;
  }
}

.chat-box {
  //background-color: $brand-primary-200;
  padding: 1em;
  border-radius: .2em;
  box-shadow: 4px 0 9px rgba(0, 0, 0, .1);
  margin-top: 1em;

  &__header {

  }

  &__content {
    min-height: 200px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    &__message {
      border-radius: .5em;
      padding: .25em 1em;
      //background-color: $brand-light;
      margin-bottom: .5em;
      box-shadow: 4px 0 9px rgba(0, 0, 0, .05);

      &.from-current-user {
        text-align: right;
      }
    }
  }

  &__footer {

  }

}
