<div class="col-12 my-2">
  <div class="text-center">
    <h2>Contact</h2>
    <hr>
  </div>
  <div class="col-12 col-md-6 mx-auto">
    <ul #nav="ngbNav" (navChange)="onNavChange($event)" [(activeId)]="active" class="nav-tabs" ngbNav>
      <li [ngbNavItem]="1">
        <a ngbNavLink>Nous contacter</a>
        <ng-template ngbNavContent>
          <div class="col-12 mt-2">
            <p>
              Si vous rencontrez un quelconque problème avec Ressources Relationnelles™, n'hésitez pas à consulter la
              <a routerLink="/help">FAQ</a>
            </p>
            <p>
              Dans le cas où vous ne trouveriez pas la réponse à votre question, vous pouvez aussi nous contacter
              ci-dessous
              <i class="fa fa-arrow-down"></i>
            </p>

            <form (ngSubmit)="sendContactMessage(false)">
              <input [(ngModel)]="contactMessage.reason" class="form-control" name="title"
                     placeholder="Raison de votre message"
                     type="text">
              <textarea [(ngModel)]="contactMessage.message" class="form-control" cols="30" id="" name="description"
                        placeholder="Description de votre problème"
                        rows="6"></textarea>
              <button class="btn btn-primary float-right" type="submit">Envoyer</button>
            </form>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Messagerie</a>
        <ng-template ngbNavContent>
          <div class="mt-2">
            <div class="chat-box">
              <div class="chat-box__header">
                <h4 class="text-center">Messagerie</h4>
                <hr>
              </div>
              <div class="chat-box__content" id="message-list">
                <div *ngFor="let message of chatMessageList"
                     [ngClass]="{
                      'from-current-user': message.fromCurrentUser,
                      'alert-primary text-right ml-auto': message.fromCurrentUser,
                      'alert-light text-left mr-auto': !message.fromCurrentUser,
                      'mt-4 pt-2': message.reason != null
                     }"
                     class="alert chat-box__content__message"
                     style="width: 80%">
                  <h5 *ngIf="message.reason" class="text-center"
                      style="z-index: 10; position: absolute; top: -50%; left: 50%; transform: translate(-50%);">
                    <span class="badge badge-primary">Raison : {{message.reason}}</span>
                  </h5>
                  <i *ngIf="!message.fromCurrentUser"
                     [ngbTooltip]="message.fromUser.firstName + ' ' + message.fromUser.lastName" class="fa fa-user mr-2"
                     container="body"></i>
                  <small>
                    {{message.message}}
                  </small>
                  <i *ngIf="message.fromCurrentUser"
                     class="fa fa-user ml-2" container="body"
                     ngbTooltip="Vous"></i>
                </div>
              </div>

              <div class="chat-box__footer">
                <form (ngSubmit)="sendContactMessage(false)">
                  <div class="input-group">
                    <input #formMessage="ngModel" [(ngModel)]="contactMessage.message" class="form-control mb-0"
                           minlength="1"
                           name="message" placeholder="Votre message..."
                           type="text">
                    <div class="input-group-append">
                      <button [disabled]="formMessage.errors?.minLength" class="btn btn-primary" type="submit">
                        <i class="fa fa-envelope"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
