<div class="chat-box">
  <div class="chat-box__header">
  </div>
  <div class="chat-box__content" id="message-list" style="max-height: 30em; overflow-y: auto;">
    <div *ngFor="let message of chatMessageList"
         [ngClass]="{
                      'from-current-user': message.fromCurrentUser,
                      'alert-primary text-right ml-auto shadow-sm': message.fromCurrentUser,
                      'alert-light text-left mr-auto shadow-sm': !message.fromCurrentUser,
                      'mt-4 pt-2': message.reason != null,
                      'border-primary': !message.isRead && !message.fromCurrentUser
                     }"
         class="alert chat-box__content__message"
         style="width: 80%">
      <h5 *ngIf="message.reason" class="text-center"
          style="z-index: 10; position: absolute; top: -50%; left: 50%; transform: translate(-50%);">
        <span class="badge badge-primary">Raison : {{message.reason}}</span>
      </h5>
      <h6 *ngIf="!message.isRead && !message.fromCurrentUser" class="text-center"
          style="z-index: 10; position: absolute; top: -50%; left: 50%; transform: translate(50%, 50%);">
        <span class="badge badge-primary">Non lu</span>
      </h6>
      <i *ngIf="!message.fromCurrentUser"
         [ngbTooltip]="message.fromUser.firstName + ' ' + message.fromUser.lastName" class="fa fa-user mr-2"
         container="body"></i>
      <small>
        {{message.message}}
      </small>
      <i *ngIf="message.fromCurrentUser"
         class="fa fa-user ml-2" container="body"
         ngbTooltip="Vous"></i>
      <div *ngIf="!message.isRead && message.fromCurrentUser">
        <span class="badge badge-primary" style="font-size: .7em">
          Non lu
        </span>
      </div>
    </div>
  </div>

  <div class="chat-box__footer">
    <form (ngSubmit)="sendMessage()">
      <div class="input-group">
        <input #formMessage="ngModel" [(ngModel)]="newMessage.message" class="form-control mb-0"
               minlength="1"
               name="message" placeholder="Votre message..."
               type="text">
        <div class="input-group-append">
          <button [disabled]="formMessage.errors?.minLength" class="btn btn-primary" type="submit">
            <i class="fa fa-envelope"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
