<div class="c_app_admin_user_list">
  <div class="float-right mb-4">
    <button (click)="findAllUsers()" class="btn btn-outline-primary btn-sm mr-2">
      <i class="fa fa-refresh mr-2"></i>
      <span>Recharger les données</span>
    </button>
    <button (click)="openUserModal(null, false, false, true)" class="btn btn-primary btn-sm">
      <i class="fa fa-plus mr-2"></i>
      <span>Créer un utilisateur</span>
    </button>
  </div>
  <h4>Utilisateurs</h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-secondary">
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Pseudo</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th class="text-center">Rôle</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userList; index as i" [ngClass]="{
        'admin_user_table__tr__banned': user.isBanned,
        'admin_user_table__tr__deleted': user.isDeleted
      }">
        <td>{{i + 1}}</td>
        <td>{{user.email}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName || '...'}}</td>
        <td>{{user.lastName || '...'}}</td>
        <td class="text-center">
          <span [ngClass]="getBadgeClassFromRole(user.role)"
                class="badge badge-pill mx-1">
            {{user.role}}
          </span>
        </td>
        <td class="text-center">
          <div class="d-flex justify-content-around align-items-center">
            <button (click)="openUserModal(user, true, false, false)" [disabled]="user.isDeleted"
                    class="btn btn-sm btn-outline-primary mx-1" ngbTooltip="Voir">
              <i class="fa fa-eye"></i>
            </button>
            <button (click)="openUserModal(user, false, true, false)" [disabled]="user.isDeleted"
                    class="btn btn-sm btn-outline-warning mx-1" ngbTooltip="Éditer">
              <i class="fa fa-edit"></i>
            </button>
            <button (click)="deleteUser(user)" [disabled]="!canDeleteUser(user)"
                    [ngClass]="user.isDeleted ? 'btn-outline-success' : 'btn-outline-danger'"
                    class="btn btn-sm btn-outline-danger mx-1"
                    ngbTooltip="Supprimer">
              <i class="fa fa-trash"></i>
            </button>
            <button (click)="banUser(user)" [disabled]="!canBanUser(user)"
                    [ngClass]="user.isBanned ? 'btn-outline-success' : 'btn-outline-danger'"
                    [ngbTooltip]="user.isBanned ? 'Réactiver' : 'Bannir'" class="btn btn-sm mx-1">
              <i [ngClass]="user.isBanned ? 'fa-magic' : 'fa-ban'" class="fa"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  <div class="row d-flex justify-content-center align-items-center mt-2">-->
  <!--    <nav aria-label="Page navigation example">-->
  <!--      <ul class="pagination">-->
  <!--        <li class="page-item"><a class="page-link" href="#">Précédent</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">Suivant</a></li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </div>-->

</div>
