<div class="c-help">
  <div class="col-12 my-2">
    <div class="text-center">
      <h2>Aide</h2>
      <hr>
    </div>
    <div class="col-12 col-md-6 mx-auto">
      <div *ngFor="let qa of faq; let i = index" class="help-faq-qa mb-4">
        <button (click)="setAnswerVisibility(i)"
                class="d-flex justify-content-center align-items-center form-control mb-2" style="height: auto">
          {{qa.question}}
          <i [ngClass]="qa.visible ? 'fa-caret-down' : 'fa-caret-right'"
             class="fa ml-2"></i>
        </button>
        <div *ngIf="faq[i].visible === true" class="alert alert-primary" style="height: auto">
          {{qa.answer}}
        </div>
      </div>
    </div>
  </div>
</div>
