<div class="col-12 my-2">
  <div class="text-center">
    <h2>Relations</h2>
    <hr>
  </div>
  <div class="col-12">
    <div class="d-flex flex-column flex-md-row justify-content-end align-items-center mb-3">
      <div class="col-12 col-md-5 px-0 mr-auto input-group">
        <input (keyup)="filterRelations($event)" class="form-control" placeholder="Rechercher parmi mes relations..."
               type="text">
        <div class="input-group-append">
          <button class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div>
        <button (click)="reloadRelations()" class="col-auto btn btn-outline-primary mr-2 my-1 my-md-0">
          <i class="fa fa-refresh mr-2"></i>
          Rafraichir
        </button>
        <button (click)="openAddRelationModal()" class="col-auto btn btn-primary my-1 my-md-0">
          <i class="fa fa-plus mr-2"></i>
          Ajouter une relation
        </button>
      </div>
    </div>

    <ul #nav="ngbNav" [(activeId)]="active" class="nav-tabs" ngbNav>
      <li [ngbNavItem]="1">
        <a ngbNavLink><i class="fa fa-group mr-2"></i>Relations</a>
        <ng-template ngbNavContent>
          <div class="relation-list row">
            <app-relation-item
              *ngFor="let relation of filteredRelations; let i = index"
              [canSendSuggestion]="false"
              [id]="i + 1"
              [relation]="relation.relationUser"
              class="col-12 col-md-2"
            >
            </app-relation-item>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink><i class="fa fa-question-circle mr-2"></i>Suggestions</a>
        <ng-template ngbNavContent>
          <div class="relation-suggestion-list">
            <div class="row col-12">
              <app-relation-item *ngFor="let suggestion of relationSuggestionList"
                                 [canSendSuggestion]="true"
                                 [relation]="suggestion"
                                 class="col-12 col-md-2"
              >
              </app-relation-item>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink><i class="fa fa-user-plus mr-2"></i>Invitations</a>
        <ng-template ngbNavContent>
          <select [(ngModel)]="invitationsFilter" class="form-control col-12 col-md-6 my-2" id="invitations-select"
                  name="invitations-select">
            <option value="received">Reçues</option>
            <option value="sent">Envoyées</option>
          </select>
          <div *ngIf="invitationsFilter === 'received'" class="row col-12">
            <div *ngFor="let receivedRelationRequest of receivedRequests" class="col-12 col-md-2">
              <div class="card">
                <div class="card-body text-center" style="height: 9em">
                  <img *ngIf="receivedRelationRequest.fromUser?.profilePicture"
                       [src]="getRelationRequestUserProfilePicture(receivedRelationRequest.fromUser)"
                       alt="Card image cap"
                       class="p-2" style="max-height: 5em; max-width: 100%; display: block; margin: auto;">
                  <i *ngIf="!receivedRelationRequest.fromUser.profilePicture" class="fa fa-user fa-3x text-primary"
                     style="height: 1.5em; max-width: 100%; display: block; margin: auto;"></i>
                  <small>
                    {{receivedRelationRequest.fromUser?.firstName}} {{receivedRelationRequest.fromUser?.lastName}}
                  </small>
                </div>
                <div class="btn-group w-100">
                  <button (click)="answerRequest(receivedRelationRequest._id, 'accept')"
                          class="btn btn-success btn-sm w-50" ngbTooltip="Accepter">
                    <i class="fa fa-check-circle"></i>
                  </button>
                  <button (click)="answerRequest(receivedRelationRequest._id, 'refuse')"
                          class="btn btn-danger btn-sm text-white w-50" ngbTooltip="Refuser">
                    <i class="fa fa-ban"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="invitationsFilter === 'sent'" class="row col-12">
            <div *ngFor="let sentRelationRequest of sentRequests" class="col-12 col-md-2 my-2">
              <app-relation-request-item
                [relationRequest]="sentRelationRequest">

              </app-relation-request-item>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink><i class="fa fa-ban mr-2"></i>Bloqués</a>
        <ng-template ngbNavContent>
          <div class="alert alert-primary col-12 col-md-8 mx-auto my-4">Vous n'avez bloqué aucun utilisateur</div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
