.relation-list {
  //display: grid;
  //grid-template-columns: repeat(4, 1fr);
}

.relation-status_icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  background-color: whitesmoke;
}
