<div class="col-12 my-2">
  <div class="text-center">
    <h2>Paramètres</h2>
    <hr>
  </div>
  <div class="col-12 col-md-6 mx-auto text-center">
    <div *ngIf="settings">
      <div class="form-group">
        <label class="form-control-label" for="receive-mails-from-app-toggle">Recevoir des mails de Ressources
          Relationnelles™</label>
        <div [(ngModel)]="settings.receiveNewsEmails" class="btn-group btn-group-toggle d-block"
             id="receive-mails-from-app-toggle" name="radioBasic" ngbRadioGroup>
          <label [ngClass]="settings.receiveNewsEmails ? 'btn-primary' : 'btn-outline-primary'" class="btn"
                 ngbButtonLabel>
            <input [value]="true" ngbButton type="radio"> Oui
          </label>
          <label [ngClass]="!settings.receiveNewsEmails ? 'btn-primary' : 'btn-outline-primary'" class="btn"
                 ngbButtonLabel>
            <input [value]="false" ngbButton type="radio"> Non
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="receive-mails-from-app-toggle">Visibilité du profil</label>
        <div [(ngModel)]="settings.publicProfile" class="btn-group btn-group-toggle d-block"
             id="profile-visibility-toggle"
             name="radioBasic" ngbRadioGroup>
          <label [ngClass]="settings.publicProfile ? 'btn-primary' : 'btn-outline-primary'" class="btn" ngbButtonLabel>
            <input [value]="true" ngbButton type="radio"> Public
          </label>
          <label [ngClass]="!settings.publicProfile ? 'btn-primary' : 'btn-outline-primary'" class="btn" ngbButtonLabel>
            <input [value]="false" ngbButton type="radio"> Privé
          </label>
        </div>
      </div>
    </div>
    <hr>
    <button (click)="updateSettings()" [disabled]="loaders.data" class="btn btn-primary">
      Mettre à jour
    </button>
  </div>
</div>
