$brand-primary: #506fc4;
$brand-primary-dark: darken($brand-primary, 5%);
$brand-primary-darker: darken($brand-primary, 15%);
$brand-primary-light: lighten($brand-primary, 5%);
$brand-primary-lighter: lighten($brand-primary, 15%);
$brand-primary-100: rgba($brand-primary, .1);
$brand-primary-200: rgba($brand-primary, .2);
/////////////////////////////
$brand-secondary: #abb8de;
$brand-secondary-dark: darken($brand-secondary, 5%);
$brand-secondary-darker: darken($brand-secondary, 15%);
$brand-secondary-light: lighten($brand-secondary, 5%);
$brand-secondary-lighter: lighten($brand-secondary, 15%);
/////////////////////////////
$brand-tertiary: #22967e;
$brand-tertiary-dark: darken($brand-tertiary, 5%);
$brand-tertiary-darker: darken($brand-tertiary, 15%);
$brand-tertiary-light: lighten($brand-tertiary, 5%);
$brand-tertiary-lighter: lighten($brand-tertiary, 15%);
/////////////////////////////
$brand-success: #46c662;
$brand-success-dark: darken($brand-success, 5%);
$brand-success-darker: darken($brand-success, 15%);
$brand-success-light: lighten($brand-success, 5%);
$brand-success-lighter: lighten($brand-success, 15%);
/////////////////////////////
$brand-warning: #ffac27;
$brand-warning-dark: darken($brand-warning, 5%);
$brand-warning-darker: darken($brand-warning, 15%);
$brand-warning-light: lighten($brand-warning, 5%);
$brand-warning-lighter: lighten($brand-warning, 15%);
$brand-warning-100: rgba($brand-warning, 0.1);
$brand-warning-200: rgba($brand-warning, 0.2);
/////////////////////////////
$brand-danger: #fc706a;
$brand-danger-dark: darken($brand-danger, 5%);
$brand-danger-darker: darken($brand-danger, 15%);
$brand-danger-light: lighten($brand-danger, 5%);
$brand-danger-lighter: lighten($brand-danger, 15%);
$brand-danger-100: rgba($brand-danger, 0.1);
$brand-danger-200: rgba($brand-danger, 0.2);
$brand-danger-300: rgba($brand-danger, 0.2);
/////////////////////////////
$brand-light: #ffffff;
$brand-light-dark: darken($brand-light, 5%);
$brand-light-darker: darken($brand-light, 15%);
$brand-light-light: lighten($brand-light, 5%);
$brand-light-lighter: lighten($brand-light, 15%);
/////////////////////////////
$brand-dark: #000000;
$brand-dark-dark: darken($brand-dark, 5%);
$brand-dark-darker: darken($brand-dark, 15%);
$brand-dark-light: lighten($brand-dark, 5%);
$brand-dark-lighter: lighten($brand-dark, 15%);
