<div class="c-admin-user-modal">
  <div class="c-admin-user-modal__header col-12 my-2">
    <div class="text-center">
      <h2>
        <span *ngIf="isViewing">Consulter </span>
        <span *ngIf="isEditing">Éditer </span>
        <span *ngIf="isCreating">Créer </span>
        <span>un utilisateur</span>
      </h2>
      <hr>
    </div>
  </div>
  <form (submit)="save()" class="text-center">
    <div class="c-admin-user-modal__content">
      <div class="col-12 col-md-10 mx-auto">
        <div class="form-group">
          <label for="username">
            Nom d'utilisateur
          </label>
          <input [(ngModel)]="user.username" [readOnly]="isViewing" class="form-control" id="username"
                 name="username"
                 type="text">
        </div>
        <div class="form-group">
          <label for="email">
            Adresse email
          </label>
          <input [(ngModel)]="user.email" [readOnly]="isViewing" class="form-control" id="email"
                 name="email"
                 type="text">
        </div>
        <div class="form-group">
          <label for="firstname">
            Prénom
          </label>
          <input [(ngModel)]="user.firstName" [readOnly]="isViewing" class="form-control" id="firstname"
                 name="firstname"
                 type="text">
        </div>
        <div class="form-group">
          <label for="lastname">
            Nom
          </label>
          <input [(ngModel)]="user.lastName" [readOnly]="isViewing" class="form-control" id="lastname"
                 name="lastname"
                 type="text">
        </div>
        <div class="form-group">
          <label for="role">
            Rôle
          </label>
          <select [(ngModel)]="user.role" [disabled]="isViewing" class="form-control" id="role"
                  name="role">
            <option *ngFor="let role of roles" [disabled]="role.value === RolesNamesFromEnum.SUPERADMIN"
                    [value]="role.value">
              {{role.name}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="genre">
            Genre
          </label>
          <select [(ngModel)]="user.genre" [disabled]="isViewing" class="form-control" id="genre"
                  name="genre">
            <option *ngFor="let genre of genres" [value]="genre.value">
              {{genre.name}}
            </option>
          </select>
        </div>


        <div class="form-group">
          <label for="birthdate">
            Date de naissance
          </label>
          <input [(ngModel)]="user.birthDate" [readOnly]="isViewing" class="form-control" id="birthdate"
                 name="birthdate"
                 type="date">
        </div>

        <div class="form-group">
          <label for="address">
            Adresse
          </label>
          <input [(ngModel)]="user.address" [readOnly]="isViewing" class="form-control" id="address"
                 name="address"
                 type="text">
        </div>
        <div class="form-group">
          <label for="city">
            Ville
          </label>
          <input [(ngModel)]="user.city" [readOnly]="isViewing" class="form-control" id="city"
                 name="city"
                 type="text">
        </div>
        <div class="form-group">
          <label for="postalcode">
            Code Postal
          </label>
          <input [(ngModel)]="user.postalCode" [readOnly]="isViewing" class="form-control"
                 id="postalcode"
                 name="postalcode"
                 type="text">
        </div>

        <div *ngIf="isViewing">
          <hr>
          <small>Créé le : {{getFormattedDate(user.createdAt)}}</small>
          <div *ngIf="user.isEdited">
            <small>Édité le : {{getFormattedDate(user.editedAt)}}</small>
          </div>
          <div *ngIf="user.isDeleted">
            <small>Supprimé le : {{getFormattedDate(user.deletedAt)}}</small>
          </div>
        </div>

      </div>
    </div>

    <div class="c-admin-user-modal__footer">
      <button *ngIf="isEditing || isCreating" [disabled]="loaders.save" class="col-10 btn btn-primary my-3"
              type="submit">
        <i *ngIf="loaders.save" class="fa fa-spinner fa-spin mr-2"></i>
        <span *ngIf="isEditing">Éditer</span>
        <span *ngIf="isCreating">Créer</span>
      </button>
    </div>
  </form>
</div>
