<div class="c-relation">
  <div class="col-12 my-2">
    <div class="text-center">
      <!--      <h2>Relation {{id}}</h2>-->
      <hr>
    </div>
    <div *ngIf="!loaders.data && user && !profileIsPrivate" class="col-12 col-md-8 mx-auto card text-center">
      <img *ngIf="user.profilePicture"
           [src]="getUserProfilePicture()" alt="Photo de profil"
           class="mb-3 mx-auto"
           style="max-width: 10em; max-height: 10em; filter: drop-shadow(4px 0 9px rgba(0, 0, 0, .15));">
      <i *ngIf="!user.profilePicture" class="fa fa-user fa-4x m-3"></i>
      <p>
        <span>Prénom : </span>
        <span>{{user.firstName}}</span>
      </p>
      <p>
        <span>Nom : </span>
        <span>{{user.lastName}}</span>
      </p>
      <p>
        <span>Genre : </span>
        <span>{{user.genre || 'Non défini'}}</span>
      </p>
      <p>
        <span>Date de naissance : </span>
        <span>{{getFormattedDate(user.birthDate) || '?'}}</span>
      </p>
      <p>
        <span>Ville : </span>
        <span>{{user.city || '?'}}</span>
      </p>
      <div *ngIf="isRelation" class="col-12 col-md-4 mx-auto d-flex justify-content-center align-items-center">
        <button (click)="openSendRelationMessageModal()" class="btn btn-primary mr-2">
          <i class="fa fa-envelope"></i>
        </button>
        <button (click)="deleteRelation()" class="btn btn-danger ml-2 text-white">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!loaders.data && profileIsPrivate" class="alert alert-danger text-center col-12 col-md-8 mx-auto">
    <span>Ce profil est privé</span>
  </div>
</div>
