<div class="col-12 my-2">
  <div class="text-center">
    <h2>Mon profil</h2>
    <hr>
  </div>
</div>
<div class="col-12 col-md-6 text-center mx-auto">
  <div class="c-profile">
    <form (ngSubmit)="updateCurrentUser()">
      <button (click)="toggleProfileEdit()" *ngIf="!isEditing" class="btn btn-outline-primary btn-md-sm"
              style="position: absolute; right: .5em; top: 1em;">
        <i aria-hidden="true" class="fa fa-edit mr-0 mr-md-2"></i>
        <span class="d-md-inline d-none">Éditer</span>
      </button>
      <!-- Photo de profil -->
      <i *ngIf="!user.profilePicture" class="fa fa-user fa-5x mb-3"></i>
      <img *ngIf="user.profilePicture" [src]="getUserProfilePicture()"
           alt="Photo de profil" class="mb-3" style="max-width: 10em; max-height: 10em">
      <br>
      <div *ngIf="isEditing" class="mb-2">
        <label class="btn btn-primary btn-sm" for="profile-picture">
          <i class="fa fa-upload mr-2"></i>
          Choisir une photo
        </label>
        <input (change)="updateUserProfilePicture($event)" class="form-control my-2 d-none"
               id="profile-picture" name="profile-picture"
               type="file">
      </div>
      <!-- Prénom -->
      <div class="form-group">
        <label for="first-name">
          Prénom
        </label>
        <input [(ngModel)]="user.firstName" [readonly]="!isEditing" class="form-control text-center"
               id="first-name" name="firstName" placeholder="Votre prénom" type="text">
      </div>
      <!-- Nom -->
      <div class="form-group">
        <label for="last-name">
          Nom
        </label>
        <input [(ngModel)]="user.lastName" [readonly]="!isEditing" class="form-control text-center" id="last-name"
               name="lastName" placeholder="Votre nom" type="text">
      </div>
      <!-- Adresse email -->
      <div class="form-group">
        <label for="email">
          Adresse email
        </label>
        <input [(ngModel)]="user.email" [readonly]="true" class="form-control text-center" id="email"
               name="email" placeholder="Votre adresse email" type="email">
      </div>
      <!-- Nom d'utilisateur -->
      <div class="form-group">
        <label for="username">
          Nom d'utilisateur
        </label>
        <input [(ngModel)]="user.username" [readonly]="!isEditing" class="form-control text-center" id="username"
               name="username" placeholder="Votre nom d'utilisateur" type="text">
      </div>
      <!-- Date de naissance -->
      <div class="form-group">
        <label for="birthdate">
          Date de naissance
        </label>
        <input [(ngModel)]="user.birthDate" [readonly]="!isEditing" class="form-control text-center" id="birthdate"
               name="birthdate" placeholder="Votre date de naissance" type="date">
      </div>
      <!-- Adresse -->
      <div class="form-group">
        <label for="address">
          Adresse
        </label>
        <input [(ngModel)]="user.address" [readonly]="!isEditing" class="form-control text-center" id="address"
               name="address" placeholder="Votre adresse" type="text">
      </div>
      <!-- Ville -->
      <div class="form-group">
        <label for="city">
          Ville
        </label>
        <input [(ngModel)]="user.city" [readonly]="!isEditing" class="form-control text-center" id="city"
               name="city" placeholder="Votre ville" type="text">
      </div>
      <!-- Code postal -->
      <div class="form-group">
        <label for="postalcode">
          Code postal
        </label>
        <input [(ngModel)]="user.postalCode" [readonly]="!isEditing" class="form-control text-center" id="postalcode"
               name="postalcode" placeholder="Votre code postal" type="text">
      </div>
      <div *ngIf="isEditing" class="text-right">
        <button (click)="toggleProfileEdit()" class="btn btn-outline-primary">
          Annuler
        </button>
        <button [disabled]="loaders.editing" class="btn btn-primary" type="submit">
        <span *ngIf="loaders.editing">
          <i class="fa fa-spinner fa-spin mr-2"></i>
        </span>
          <span>Éditer</span>
        </button>
      </div>
    </form>
  </div>
</div>
