.c-profile {
  padding: 1.5em;
  background-color: whitesmoke;
  box-shadow: 2px 0 9px rgba(0, 0, 0, .15);
}

.img-profile {
  display: block;
  background-color: whitesmoke;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 50%;
}

button {
  margin-right: 1.5em;
}

