<div class="col-12 col-md-8 mx-auto p-3">
  <form (ngSubmit)="sendMessage()">
    <div class="form-group">
      <p class="text-center">Envoyer un message
        à {{messageToSend.toUser.firstName}} {{ messageToSend.toUser.lastName}}</p>
      <hr>
      <label for="message"></label>
      <div class="input-group">
        <input [(ngModel)]="messageToSend.message" class="form-control" id="message" name="message" type="text">
        <div class="input-group-append">
          <button class="btn btn-primary">
            <i class="fa fa-envelope"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
