<div class="col-12 my-2">
  <div class="text-center">
    <h2>Messages utilisateurs</h2>
    <hr>
  </div>
  <div class="col-12 col-md-6 mx-auto">
    <div *ngIf="!loaders.messages && contactMessageList?.length < 1">
      <p>Il n'y a encore aucun message</p>
    </div>
    <div *ngFor="let user of contactMessagesUserList" class="card p-3 mb-3">
      <p class="text-center">{{user.firstName}} {{user.lastName}}</p>
      <div class="message-list" style="max-height: 200px; overflow: auto">
        <div *ngFor="let message of getContactMessagesByUser(user)"
             [ngClass]="message.fromCurrentUser ? 'ml-auto' : 'mr-auto'"
             style="width: 80%">
          <h5 *ngIf="message.reason" class="text-center admin-message__reason">
            <span class="badge badge-primary">Raison : {{message.reason}}</span>
          </h5>
          <div [ngClass]="message.fromCurrentUser ? 'alert-primary text-right' : 'alert-secondary text-left'"
               class="alert">
            <i *ngIf="!message.fromCurrentUser"
               [ngbTooltip]="message.fromUser.firstName + ' ' + message.fromUser.lastName" class="fa fa-user mr-2"
               container="body"></i>
            <span>
              {{message.message}}
            </span>
            <i *ngIf="message.fromCurrentUser"
               class="fa fa-user ml-2" container="body"
               ngbTooltip="Vous"></i>
          </div>
        </div>
      </div>
      <hr>
      <form #messageForm="ngForm" (ngSubmit)="sendMessageToUser(user)">
        <div class="input-group">
          <input #formMessage="ngModel" [(ngModel)]="responseList[user._id].message" class="form-control" minlength="1"
                 name="message"
                 placeholder="Répondre" required type="text">
          <div class="input-group-append">
            <button [disabled]="formMessage.invalid && (formMessage.dirty || !formMessage.touched)" class="btn btn-primary" type="submit">
              <i class="fa fa-envelope"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
