<div class="col-12 my-2">
  <div class="text-center">
    <h2>Statistiques</h2>
    <hr>
  </div>
</div>
<div class="c-admin-dashboard">
  <div *ngIf="!loaders.stats && stats">
    <div class="row">
      <div class="col-12 col-md-6 mx-auto p-2">
        <div class="card p-3">
          <h3 class="text-center">Utilisateurs</h3>
          <hr>
          <p class="font-weight-bold">Nombre d'utilisateurs : {{stats[0]?.length}}</p>
        </div>
      </div>
      <div class="col-12 col-md-6 mx-auto p-2">
        <div class="card p-3">
          <h3 class="text-center">Relations</h3>
          <hr>
          <p class="font-weight-bold">Nombre de relations : {{stats[3]?.length / 2}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mx-auto p-2">
        <div class="card p-3">
          <h3 class="text-center">Ressources</h3>
          <hr>
          <p class="font-weight-bold">Nombre de ressources : {{stats[1]?.length || 0}}</p>
          <p class="font-weight-bold">Nombre de messages sous les ressources : {{stats[2]?.length || 0}}</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loaders.stats && !stats" class="col-12">
  <div class="alert alert-warning">
    <span>Il n'y a encore aucune statistique à charger</span>
  </div>
</div>
