.c-resource {

  &__card {
    padding: 1em;
    margin-bottom: 1em;
    color: inherit !important;
    text-decoration: none;

    .form-control {
      margin-bottom: 1em;
      height: auto;
    }

    &__comments {
      padding: 1em;
      box-shadow: 2px 0 9px rgba(0, 0, 0, .15);
    }
  }
}
