.c-login {

  form {
    padding: 1em;
    background-color: whitesmoke;
    box-shadow: 2px 0 9px rgba(0, 0, 0, .15);

    > input {
      margin-bottom: 1.5em;
      border-radius: .5em;
      text-align: center;
    }

    .form-check {
      margin-bottom: 1em;
    }
  }
}
