<div class="c-login">
  <div class="col-12 my-2">
    <div class="text-center">
      <h2>Se connecter</h2>
      <hr>
    </div>
  </div>
  <form (submit)="login()" class="col-12 col-md-4 mx-auto">
    <input [(ngModel)]="credentials.email" class="form-control" id="email" name="email" placeholder="Adresse email"
           type="text">

    <input [(ngModel)]="credentials.password" class="form-control" id="password" name="password" placeholder="Mot de passe"
           type="password">

    <div class="form-check">
      <input [(ngModel)]="rememberMe" class="form-check-input" id="rememberMe" name="rememberBe" type="checkbox">
      <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
    </div>

    <div class="col-12 text-center">
      <button class="btn btn-primary" type="submit">Se connecter</button>
    </div>
  </form>
  <div class="col-12 col-md-4 mx-auto text-right px-0 mt-1">
    <small class="pr-1">
      <span class="text-dark mr-1">Pas encore inscrit ?</span>
      <a class="text-primary" routerLink="/register">S'inscrire</a>
    </small>
  </div>
</div>
