@import "../assets/scss/0.broth/colors";

.loading {
  z-index: 9999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //color: $brand-primary-darker;
  color: whitesmoke;
  pointer-events: none;
  transition: .3s;
  text-shadow: 4px 0 9px rgba(0, 0, 0, .5);
}

.t-main {
  display: flex;
  height: Calc(100% - 5rem);
  width: 100%;
  position: absolute;
  margin: 0 !important;
}

.t-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  background-color: #f5f5f5;
  padding: 1em;

  .t-content__body {
    position: relative;
    flex-grow: 1;

    .go-back-button, .go-forward-button {
      color: $brand-primary-darker;
      transform: scale(1.0);
      transition: .3s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}
