<div class="app-content">
  <div class="loading"
       [ngStyle]="{'opacity.%': loaders.global ? '100' : '0', 'pointer-events': loaders.global ? 'all' : 'none'}">
    <i class="fa fa-spinner fa-spin fa-4x"></i>
    <h5 class="mt-3">Veuillez patienter...</h5>
  </div>
  <app-topnav></app-topnav>
  <div class="my-3 t-main">
    <app-sidenav></app-sidenav>
    <div class="t-content">
      <div class="t-content__body">
        <div *ngIf="!loaders.authentication && isConnected" class="row col-12 mx-0">
          <i (click)="goBack()"
             class="fa fa-arrow-left fa-2x go-back-button"
          ></i>
          <i (click)="goForward()"
             class="fa fa-arrow-right fa-2x ml-auto go-forward-button"
          ></i>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!--  <app-footer></app-footer>-->
</div>
