<div class="c-add-relation-modal">
  <div class="col-12 my-2">
    <div class="text-center">
      <h2>Ajouter une relation</h2>
      <hr>
    </div>
  </div>
  <div class="col-12 col-md-10 mx-auto">
    <form (submit)="findRelationsByName()">
      <div class="input-group">
        <input [(ngModel)]="textSearch" class="form-control" id="relationSearch" name="relationSearch"
               placeholder="Trouver une relation..." type="text">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="c-add-relation-modal__relations_list mt-4 d-flex flex-wrap">
      <div *ngFor="let relation of relations" class="col-6">
        <app-relation-item [canSendSuggestion]="true"
                           [relation]="relation"></app-relation-item>
      </div>
    </div>
  </div>
</div>
