<div class="c-register">
  <div class="col-12 my-2">
    <div class="text-center">
      <h2>S'inscrire</h2>
      <hr>
    </div>
  </div>
  <div class="col-12 col-md-4 mx-auto">
    <form #registerForm="ngForm" (ngSubmit)="register()" class="text-center mt-5">
      <button (click)="generateUser()" class="btn btn-outline-primary ml-auto" id="generate-user-button"
              ngbTooltip="Générer un utilisateur"
              type="button">
        <i class="fa fa-refresh fa-2x"></i>
      </button>

      <div class="input-container">
        <input #formEmail="ngModel" [(ngModel)]="registerUser.email" class="form-control" email id="email" name="email"
               placeholder="Adresse email" required
               type="email">
        <small *ngIf="formEmail.invalid && (formEmail.dirty || formEmail.touched) && !elementIsFocused('email')"
               class="text-danger">
          L'email est invalide
        </small>
      </div>

      <div class="input-container">
        <input [(ngModel)]="registerUser.username" class="form-control" id="username" name="username"
               placeholder="Nom d'utilisateur"
               required
               type="text">
      </div>

      <div class="form-group input-container">
        <div class="input-group">
          <input [(ngModel)]="registerUser.firstName" class="form-control" id="first-name" name="firstName"
                 placeholder="Prénom"
                 required
                 type="text">
          <input [(ngModel)]="registerUser.lastName" class="form-control" id="last-name" name="lastName"
                 placeholder="Nom"
                 required
                 type="text">
        </div>
      </div>

      <div class="input-container">
        <!--        <label class="form-control" for="birth-date" style="position: relative; color: #6c757d">-->
        <!--          {{ registerUser.birthDate ? registerUser.birthDate : 'Date de naissance' }}-->
        <label for="birth-date">Date de naissance</label>
        <input [(ngModel)]="registerUser.birthDate" class="form-control" id="birth-date" name="birth-date"
               placeholder="Date de naissance"
               required
               type="date">
        <!--                 style="visibility: hidden; position: absolute; left: 0; top: 0; z-index: -9999"-->
        <!--        </label>-->
      </div>

      <div class="input-container">
        <input [(ngModel)]="registerUser.address" class="form-control" id="address" name="address" placeholder="Adresse"
               type="text">
      </div>

      <div class="form-group input-container">
        <div class="input-group">
          <input [(ngModel)]="registerUser.city" class="form-control" id="city" name="city" placeholder="Ville"
                 type="text">
          <input [(ngModel)]="registerUser.postalCode" class="form-control" id="postal-code" name="postalCode"
                 placeholder="Code Postal" type="text">
        </div>
      </div>

      <div class="input-container">
        <div class="input-group">
          <input #formPassword="ngModel" [(ngModel)]="registerUser.password" class="form-control" id="password"
                 minlength="4"
                 name="password" placeholder="Mot de passe" required type="password">
          <div class="input-group-append">
            <div class="input-group-append">
              <button (click)="toggleVisibility('password')"
                      [ngbTooltip]="isVisible['passwordConfirm'] ? 'Cacher le mot de passe' : 'Afficher le mot de passe'"
                      class="btn btn-primary"
                      type="button">
                <i [ngClass]="isVisible['password'] ? 'fa-eye-slash' : 'fa-eye'" class="fa"></i>
              </button>
            </div>
          </div>
        </div>
        <small *ngIf="formPassword.errors?.minlength && !elementIsFocused('password')"
               class="text-danger">
          Le mot de passe doit faire 4 caractères minimum
        </small>
      </div>

      <div class="input-container">
        <div class="input-group">
          <input #formPasswordConfirm="ngModel" [(ngModel)]="passwordConfirm" class="form-control" id="passwordConfirm"
                 minlength="4" name="passwordConfirm" placeholder="Confirmation du mot de passe" required
                 type="password">
          <div class="input-group-append">
            <button (click)="toggleVisibility('passwordConfirm')"
                    [ngbTooltip]="isVisible['passwordConfirm'] ? 'Cacher le mot de passe' : 'Afficher le mot de passe'"
                    class="btn btn-primary" type="button">
              <i [ngClass]="isVisible['passwordConfirm'] ? 'fa-eye-slash' : 'fa-eye'" class="fa"></i>
            </button>
          </div>
        </div>
        <small *ngIf="formPasswordConfirm.errors?.minlength && !elementIsFocused('passwordConfirm')"
               class="text-danger">
          Le mot de passe doit faire 4 caractères minimum
        </small>
      </div>

      <button [disabled]="loaders.register || registerForm.form.invalid" class="col-12 btn btn-primary" type="submit">
        <span *ngIf="!loaders.register">S'inscrire</span>
        <span *ngIf="loaders.register">
          <i class="fa fa-spin fa-spinner"></i>
        </span>
      </button>
    </form>
  </div>
  <div class="col-12 col-md-4 mx-auto text-right mt-1">
    <small class="pr-2">
      <span class="text-dark mr-1">Déjà inscrit ?</span>
      <a class="text-primary" routerLink="/login">Se connecter</a>
    </small>
  </div>
</div>
