.c-register {

  @keyframes spin-refresh {
    0% {
      transform: translate(25%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(25%, -50%) rotate(90deg);
    }
  }

  #generate-user-button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(25%, -50%);
    border-radius: 50%;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      animation: spin-refresh 1s ease;
    }
  }

  form {
    padding: 1em;
    background-color: whitesmoke;
    box-shadow: 2px 0 9px rgba(0, 0, 0, .15);

    .input-container {
      margin-bottom: 1.5em;
    }

    input {
      text-align: center;
    }
  }
}
