<div class="c-admin-resource-modal">
  <div class="c-admin-resource-modal__header col-12 my-2">
    <div class="text-center">
      <h2>
        <span *ngIf="isViewing">Consulter </span>
        <span *ngIf="isEditing">Éditer </span>
        <span *ngIf="isCreating">Créer </span>
        <span>une ressource</span>
      </h2>
      <hr>
    </div>
  </div>
  <form (submit)="save()" class="text-center">
    <div class="c-admin-resource-modal__content">
      <div class="col-12 col-md-10 mx-auto">
        <div class="form-group">
          <label for="title">
            Titre
          </label>
          <input [(ngModel)]="resource.title" [readOnly]="isViewing" class="form-control" id="title"
                 name="title"
                 type="text">
        </div>
        <div class="form-group">
          <label for="message">
            Message
          </label>
          <input [(ngModel)]="resource.message" [readOnly]="isViewing" class="form-control" id="message"
                 name="message"
                 type="text">
        </div>
        <div class="form-group">
          <label for="linkurl">
            Lien
          </label>
          <input [(ngModel)]="resource.linkUrl" [readOnly]="isViewing" class="form-control" id="linkurl"
                 name="linkurl"
                 type="text">
        </div>
        <div class="mb-2">
          Image
        </div>
        <img [src]="getResourceImage(resource)" alt=""
             style="max-width: 100%; max-height: 10em;">

        <div *ngIf="isViewing">
          <hr>
          <small>Créée le : {{getFormattedDate(resource.createdAt)}}</small>
          <div *ngIf="resource.isEdited">
            <small>Éditée le : {{getFormattedDate(resource.editedAt)}}</small>
          </div>
          <div *ngIf="resource.isDeleted">
            <small>Supprimée le : {{getFormattedDate(resource.deletedAt)}}</small>
          </div>
        </div>

      </div>
    </div>

    <div class="c-admin-resource-modal__footer">
      <button *ngIf="isEditing || isCreating" [disabled]="loaders.save" class="col-10 btn btn-primary my-3"
              type="submit">
        <i *ngIf="loaders.save" class="fa fa-spinner fa-spin mr-2"></i>
        <span *ngIf="isEditing">Éditer</span>
        <span *ngIf="isCreating">Créer</span>
      </button>
    </div>
  </form>
</div>
