<div class="c-home">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Ressources Relationnelles</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto mb-4 text-center">
      <img alt="" src="../../../assets/images/icon_marianne.ico" style="height: 200px">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="col-12 mx-auto">
        <p class="text-center">
          Ressources Relationnelles™ vous met en relation avec vos amis et vous permet de partager vos meilleurs moments
          avec ceux qui comptent pour vous !
        </p>
      </div>
      <div *ngIf="isConnected" class="card p-3 col-12 mx-auto my-4 text-primary"
           style="box-shadow: 4px 0 9px rgba(0, 0, 0, .15);">
        <b class="mx-auto">Qu'allez-vous faire aujourd'hui ?</b>
        <hr>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <button
            class="d-flex justify-content-between align-items-center col-12 col-md-5 btn btn-lg btn-outline-primary my-2"
            routerLink="/relations"
            style="border: 3px dashed #506fc4">
            <i class="fa fa-plus mr-2"></i>
            <span>Ajouter une relation</span>
          </button>
          <button
            class="d-flex justify-content-between align-items-center col-12 col-md-5 btn btn-lg btn-outline-primary my-2"
            routerLink="/resources"
            style="border: 3px dashed #506fc4">
            <i class="fa fa-share mr-2"></i>
            <span>Partager une ressource</span>
          </button>
          <button
            class="d-flex justify-content-between align-items-center col-12 col-md-5 btn btn-lg btn-outline-primary my-2"
            routerLink="/messages"
            style="border: 3px dashed #506fc4">
            <i class="fa fa-envelope mr-2"></i>
            <span>Envoyer un message</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loaders.authentication && !isConnected" class="mt-5">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <button class="btn btn-primary" routerLink="/register">
          <i aria-hidden="true" class="fa fa-user-plus  mr-1"></i>
          S'inscrire
        </button>
        <button class="btn btn-outline-primary ml-2" routerLink="/login">
          <i aria-hidden="true" class="fa fa-sign-in mr-1"></i>
          Se connecter
        </button>
      </div>
    </div>
  </div>
</div>
