<div class="c_app_admin_resource_list">
  <div class="float-right">
    <button (click)="findAllResources()" class="btn btn-outline-primary btn-sm mr-2">
      <i class="fa fa-refresh mr-2"></i>
      <span>Recharger les données</span>
    </button>
    <button (click)="openResourceModal(null,false, false, true)" class="btn btn-primary btn-sm">
      <i class="fa fa-plus mr-2"></i>
      <span>Créer une ressource</span>
    </button>
  </div>
  <h4>Ressources</h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-secondary">
      <tr>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Titre</th>
        <th>Contenu</th>
        <th>Lien</th>
        <th>Date de création</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let resource of resourceList; index as i" [ngClass]="{
        'admin_resource_table__tr__banned': resource.isBanned,
        'admin_resource_table__tr__deleted': resource.isDeleted
      }">
        <td>{{i + 1}}</td>
        <td>{{resource.user?.email || '...'}}</td>
        <td>{{resource.title || '...'}}</td>
        <td>{{resource.message || '...'}}</td>
        <td>{{resource.linkUrl || '...'}}</td>
        <td>{{getFormattedDate(resource.createdAt)}}</td>
        <td class="text-center">
          <div class="d-flex justify-content-around align-items-center">
            <button (click)="openResourceModal(resource, true, false, false)" [disabled]="resource.isDeleted"
                    class="btn btn-sm btn-outline-primary mx-1" ngbTooltip="Voir">
              <i class="fa fa-eye"></i>
            </button>
            <button (click)="openResourceModal(resource, false, true, false)" [disabled]="resource.isDeleted"
                    class="btn btn-sm btn-outline-warning mx-1" ngbTooltip="Éditer">
              <i class="fa fa-edit"></i>
            </button>
            <button (click)="deleteResource(resource)" [disabled]="!canDeleteResource(resource)"
                    [ngClass]="resource.isDeleted ? 'btn-outline-success' : 'btn-outline-danger'"
                    class="btn btn-sm btn-outline-danger mx-1"
                    ngbTooltip="Supprimer">
              <i class="fa fa-trash"></i>
            </button>
            <button (click)="banResource(resource)" [disabled]="!canBanResource(resource)"
                    [ngClass]="resource.isBanned ? 'btn-outline-success' : 'btn-outline-danger'"
                    [ngbTooltip]="resource.isBanned ? 'Réactiver' : 'Bannir'" class="btn btn-sm mx-1">
              <i [ngClass]="resource.isBanned ? 'fa-magic' : 'fa-ban'" class="fa"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  <div class="row d-flex justify-content-center align-items-center mt-2">-->
  <!--    <nav aria-label="Page navigation example">-->
  <!--      <ul class="pagination">-->
  <!--        <li class="page-item"><a class="page-link" href="#">Précédent</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">Suivant</a></li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </div>-->

</div>
