@import "../../../assets/scss/0.broth/colors";

.c-topnav {
  width: 100%;
  height: 5rem;
  background: $brand-primary;
  display: flex;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 9px #0000001c;

  &__brand_name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;

    span {
      font-size: 1.25rem;
      font-weight: bolder;
      color: white;
    }
  }

  &__brand_logo {
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      height: 67%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    //padding: 0 2em;

    &__logged_in_items, &__not_logged_in_items {
      display: flex;
      align-items: center;
      margin-left: auto;
      padding: 0 2em;
    }

    &__item {
      margin-left: 1em;

      &__profile {
        display: block;
        background-color: whitesmoke;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        transition: .3s;
        box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, .15);
        cursor: pointer;

        &:hover {
          filter: brightness(75%);
        }

        &__image {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $brand-primary;
          min-width: 100%;
          min-height: 100%;
          max-height: 100%;
          //padding: 0.3em;
        }
      }

      &__settings, chat {

        .active {
          background: $brand-primary-dark !important;
          color: $brand-light !important;
        }
      }

      &__logout {

      }
    }
  }
}
