<div class="c-topnav">
  <div class="c-topnav__brand_logo d-none d-md-flex">
    <img alt="" class="c-topnav__brand_logo__image" src="../../../assets/images/logo_marianne.png">
  </div>
  <div class="c-topnav__brand_name d-none d-md-flex">
    <span>Ressources Relationnelles</span>
  </div>
  <div class="c-topnav__menu">
    <!--    <div *ngIf="!loaders.authentication && !isConnected" class="c-topnav__menu__not_logged_in_items">-->
    <!-- TODO: Ajouter des boutons pour les utilisateurs non connectés -->
    <!--    </div>-->
    <div *ngIf="!loaders.authentication && !isConnected" class="c-topnav__menu__not_logged_in_items">
      <div class="c-topnav__menu__item">
        <span class="badge badge-pill badge-secondary">
          <i class="fa fa-user mr-2"></i>
          <span>VISITEUR</span>
        </span>
      </div>
      <div class="c-topnav__menu__item">
        <div class="c-topnav__menu__item__settings">
          <button class="btn btn-outline-primary btn-sm" routerLink="/home" routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-home mr-md-1"></i>
            <span class="d-none d-md-inline">Accueil</span>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!loaders.authentication && isConnected" class="c-topnav__menu__logged_in_items">
      <div *ngIf="isAdmin">
        <div class="c-topnav__menu__item">
          <span class="badge badge-pill badge-info mr-3">
            <i class="fa fa-user-circle-o mr-2"></i>
            <span>ADMIN</span>
          </span>
        </div>
      </div>
      <div class="c-topnav__menu__item">
        <div class="badge badge-pill badge-light mr-3">
          <b>{{user?.firstName}} {{user?.lastName}}</b>
        </div>
      </div>
      <div [ngbPopover]="popover" class="c-topnav__menu__item__profile" container="body" placement="bottom-right">
        <div class="c-topnav__menu__item__profile">
          <i *ngIf="!user.profilePicture" class="fa fa-user fa-2x c-topnav__menu__item__profile__image"
             style="display: flex; justify-content: center; align-items: center;"></i>
          <img *ngIf="user?.profilePicture"
               [src]="getUserProfilePicture()"
               alt="" class="c-topnav__menu__item__profile__image">
        </div>
      </div>
      <ng-template #popover>
        <div class="d-flex flex-column">
          <button *ngIf="!isAdmin" class="btn btn-outline-primary my-2" routerLink="/profile" routerLinkActive="active">
            <i class="fa fa-user mr-2"></i>
            Profil
          </button>
          <button *ngIf="!isAdmin" class="btn btn-outline-primary my-2" routerLink="/settings"
                  routerLinkActive="active">
            <i class="fa fa-gear mr-2"></i>
            Paramètres
          </button>
          <button *ngIf="!isAdmin" class="btn btn-outline-primary my-2" routerLink="/help" routerLinkActive="active">
            <i class="fa fa-envelope mr-2"></i>
            Aide
          </button>
          <button *ngIf="!isAdmin" class="btn btn-outline-primary my-2" routerLink="/chat" routerLinkActive="active">
            <i class="fa fa-envelope mr-2"></i>
            Contact
          </button>
          <button (click)="logout()" class="btn btn-outline-danger my-2">
            <i class="fa fa-sign-out mr-2"></i>
            Déconnexion
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
