<div class="c-resources">
  <div class="col-12 my-2">
    <div class="text-center">
      <h2>Ressources</h2>
      <hr>
    </div>

    <div *ngIf="!loaders.data">
      <div *ngIf="notEmptyResourcesList(); else emptyResources">
        <div class="col-12 d-flex flex-column flex-md-row justify-content-end align-items-center">
          <button (click)="reloadResources()" class="col-12 col-md-auto btn btn-outline-primary mr-2 my-1 my-md-0">
            <i class="fa fa-refresh mr-2"></i>
            Rafraichir
          </button>
          <button (click)="openAddResourceModal()" class="btn btn-primary my-1 my-md-0">
            <i class="fa fa-plus mr-2"></i>
            Créer une ressource
          </button>
        </div>
        <div class="resource-list">
          <app-resource-item
            *ngFor="let resource of resources; let i = index"
            [id]="i + 1"
            [resource]="resource"
            [currentUser]="user"
          ></app-resource-item>
        </div>
      </div>

      <ng-template #emptyResources>
        <button (click)="openAddResourceModal()"
                class="alert alert-success alert-button row col-12 col-md-6 mx-auto p-4">
          <span class="col-md-4 d-flex justify-content-center align-items-center">
            <i class="fa fa-plus-circle fa-4x" style="text-shadow: 2px 2px 5px rgba(0, 0, 0, .15);"></i>
          </span>
          <span class="col-md-8 d-flex flex-column">
            <span>Il n'y a aucune ressource à afficher.</span>
            <span class="mt-2">Pourquoi ne pas en créer une dès maintenant ?</span>
          </span>
        </button>
      </ng-template>

    </div>
  </div>
</div>
