<div class="c_app_admin_relation_list">
  <div class="float-right">
    <button (click)="findAllRelations()" class="btn btn-outline-primary btn-sm mr-2">
      <i class="fa fa-refresh mr-2"></i>
      <span>Recharger les données</span>
    </button>
    <button (click)="openRelationModal(null,false, false, true)" class="btn btn-primary btn-sm">
      <i class="fa fa-plus mr-2"></i>
      <span>Créer une relation</span>
    </button>
  </div>
  <h4>Relations</h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="table-secondary">
      <tr>
        <th>#</th>
        <th>Utilisateur</th>
        <th>Relation</th>
        <th>Date de création</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let relation of relationList; index as i" [ngClass]="{
        'admin_relation_table__tr__deleted': relation.isDeleted
      }">
        <td>{{i + 1}}</td>
        <td>{{relation.user?.email || '...'}}</td>
        <td>{{relation.relationUser?.email || '...'}}</td>
        <td>{{getFormattedDate(relation.createdAt)}}</td>
        <td class="text-center">
          <div class="d-flex justify-content-around align-items-center">
            <button (click)="openRelationModal(relation, true, false, false)" [disabled]="relation.isDeleted"
                    class="btn btn-sm btn-outline-primary mx-1" ngbTooltip="Voir">
              <i class="fa fa-eye"></i>
            </button>
            <button (click)="openRelationModal(relation, false, true, false)" [disabled]="relation.isDeleted"
                    class="btn btn-sm btn-outline-warning mx-1" ngbTooltip="Éditer">
              <i class="fa fa-edit"></i>
            </button>
            <button (click)="deleteRelation(relation)" [disabled]="!canDeleteRelation(relation)"
                    [ngClass]="relation.isDeleted ? 'btn-outline-success' : 'btn-outline-danger'"
                    class="btn btn-sm btn-outline-danger mx-1"
                    ngbTooltip="Supprimer">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  <div class="row d-flex justify-content-center align-items-center mt-2">-->
  <!--    <nav aria-label="Page navigation example">-->
  <!--      <ul class="pagination">-->
  <!--        <li class="page-item"><a class="page-link" href="#">Précédent</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">Suivant</a></li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </div>-->

</div>
