@import "../../../../assets/scss/0.broth/colors";

.admin_relation_table__tr__banned {
  background-color: $brand-warning-100 !important;
}

.admin_relation_table__tr__deleted {
  background-color: $brand-danger-200 !important;

  &:hover {
    cursor: not-allowed;
  }
}


