@import "src/assets/scss/0.broth/colors";

.c-resource-item {
  margin: auto;
  text-align: center;
  padding: 1em;

  .resource_event {
    //position: relative;
    //pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &__badge {
      display: inherit;
      white-space: normal;
      line-height: 20px;
    }

    &__response {
      //position: absolute;
      //top: 50%;
      //right: 0;
      //transform: translate(0, -50%);
    }
  }

  .reactions_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    //position: absolute;
    //right: .5em;
    //bottom: .5em;

    &__like_buttons {
      transition-duration: .3s;
      cursor: pointer;
      transform: scale(1.0);

      &.like {
        transition-duration: .3s;
        color: $brand-light;
        text-shadow: 0 0 4px black;

        &:hover {
          color: $brand-primary;
          text-shadow: none;
        }
      }

      &.unlike {
        transition-duration: .3s;
        color: $brand-primary;
      }

      &:hover {
        transform: scale(1.1);
      }

    }
  }

  &__card {
    padding: 1em;
    margin-bottom: 1em;
    color: inherit !important;
    text-decoration: none;

    .form-control {
      margin-bottom: 1em;
      height: auto;
    }

    .resource-context-menu-button {
      color: $brand-primary;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(5%, -15%);
      padding: 0.5em;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
    }

    .resource-item-message {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__image {
      max-height: 15em;
      max-width: 100%;
    }

    &__user_image {
      height: 3rem;
      width: 3em;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, .15);
      //position: absolute;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;

      img {
        height: 100%;
      }
    }

    &__comments {
      padding: 1em;
      box-shadow: 2px 0 9px rgba(0, 0, 0, .15);
    }

    :last-child {
      //margin-bottom: inherit;
    }
  }
}
