<div class="c-resource-item">
  <div class="c-resource-item__card mx-auto card">
    <!--    <h5>Ressource {{id}}</h5>-->
    <i *ngIf="resource.isFromCurrentUser" [ngbPopover]="resourceContextMenu"
       class="resource-context-menu-button fa fa-ellipsis-h fa-2x"
       container="body" placement="bottom">
      <ng-template #resourceContextMenu>
        <div style="display: flex; flex-direction: column;">
          <button (click)="toggleEditResource()"
                  class="btn btn-outline-primary btn-sm mb-2 d-flex justify-content-center align-items-center">
            <i class="fa fa-edit fa-2x mr-2"></i>
            Éditer
          </button>
          <button (click)="deleteResource()"
                  class="btn btn-outline-danger btn-sm  d-flex justify-content-center align-items-center">
            <i class="fa fa-trash fa-2x mr-2"></i>
            Supprimer
          </button>
        </div>
      </ng-template>
    </i>
    <a [ngbTooltip]="'Postée par ' + resource.user?.firstName + ' ' + resource.user?.lastName"
       [routerLink]="'/relation/' + resource.user._id"
       class="c-resource-item__card__user_image img-container">
      <img *ngIf="resource.user?.profilePicture"
           [src]="getResourceUserProfileImageUrl()"
           alt="">
      <i *ngIf="!resource.user?.profilePicture" class="fa fa-user fa-2x"></i>
    </a>

    <div *ngIf="resource.event"
         class="d-flex flex-column justify-content-center align-items-center p-0 pb-md-3 mb-3 resource_event">
      <div class="badge badge-pill badge-primary resource_event__badge"
           style="font-size: 16px; padding: .4em .75em; max-width: 100%;">
        Évènement du {{getFormattedDate(resource.event.startDate)}} au {{getFormattedDate(resource.event.endDate)}}
        <i *ngIf="resource.event.responses?.length > 0" [ngbPopover]="engagedUserList" class="fa fa-users ml-2"
           ngbTooltip="Voir les participants"></i>
        <ng-template #engagedUserList>
          <div class="d-flex flex-column justify-content-center align-items-start">
            <div *ngFor="let response of resource.event.responses" [ngClass]="{
              'badge-primary': response.response === 'ACCEPTED',
              'badge-danger': response.response === 'REFUSED',
              'badge-warning': response.response === 'UNSURE'
            }" class="my-1 badge">
              <div *ngIf="response.response === 'ACCEPTED'">
                Participe : {{response.user.firstName}} {{response.user.lastName}}
              </div>
              <div *ngIf="response.response === 'REFUSED'">
                Ne participe pas : {{response.user.firstName}} {{response.user.lastName}}
              </div>
              <div *ngIf="response.response === 'UNSURE'">
                Participe peut-être : {{response.user.firstName}} {{response.user.lastName}}
              </div>
            </div>
          </div>
        </ng-template>
        <div *ngIf="!resource.event?.fromCurrentUser && resource.event?.answeredByCurrentUser"
             class="mb-0 resource_event__response">
          <i *ngIf="resource.event.currentUserAnswer === 'ACCEPTED'" class="fa fa-check-circle ml-2"
             ngbTooltip="Vous participez à cet évènement">
          </i>
          <i *ngIf="resource.event.currentUserAnswer === 'REFUSED'" class="fa fa-ban ml-2"
             ngbTooltip="Vous ne participez pas à cet évènement">
          </i>
        </div>
      </div>
      <div *ngIf="!resource.event?.fromCurrentUser && !resource.event?.answeredByCurrentUser" class="mt-2 mb-0">
        <button (click)="answerEvent('ACCEPT')" class="btn btn-outline-success my-1 mr-2">Participer</button>
        <button (click)="answerEvent('REFUSE')" class="btn btn-outline-danger my-1 ml-2">Ne pas participer</button>
      </div>
    </div>
    <div *ngIf="resource.title || isEditing" readonly>
      <h4 *ngIf="!isEditing">{{resource.title}}</h4>
      <input *ngIf="isEditing" [(ngModel)]="updatedResource.title" class="form-control"
             placeholder="Titre de votre ressource" type="text">
      <hr *ngIf="!isEditing">
    </div>
    <div *ngIf="resource.message || isEditing" class="mb-2 mt-3 text-left" readonly>
      <span *ngIf="!isEditing">{{resource.message}}</span>
      <textarea *ngIf="isEditing" [(ngModel)]="updatedResource.message" class="form-control"
                placeholder="Message de votre ressource"></textarea>
    </div>

    <!-- RESOURCE IMAGE -->
    <div *ngIf="resource.image" style="position: relative;">
      <img [src]="getResourceImageUrl()"
           alt="Image de la ressource"
           class="c-resource-item__card__image my-4">
      <button (click)="removeResourceImage()" *ngIf="isEditing" class="btn btn-outline-danger"
              style="position: absolute; top: 0; right: 0">
        <i class="fa fa-trash fa-2x"></i>
      </button>

      <div *ngIf="isEditing && !updatedResource.image" class="alert alert-danger">
        <small>
          L'image sera supprimée si vous validez vos changements
        </small>
      </div>
    </div>

    <div *ngIf="isEditing && !resource.image">
      <label class="btn btn-outline-primary" for="uploadImageInput" id="uploadImageLabel">
        <i class="fa fa-upload mr-2"></i>
        Choisir une image
      </label>
      <input (change)="uploadImage($event)" hidden id="uploadImageInput" name="uploadImageInput" type="file">
      <div>
        <img *ngIf="uploadedImage" [src]="uploadedImageBuffer" alt="Image de votre ressource"
             class="mb-3 uploaded-image-preview" style="max-width: 100%; max-height: 6em;">
      </div>
    </div>
    <!--  -----  -->

    <div *ngIf="resource.linkUrl || isEditing" class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fa fa-link"></i>
        </div>
      </div>
      <a *ngIf="!isEditing" [href]="resource.linkUrl" class="form-control mb-0" readonly target="_blank">
        {{resource.linkUrl}}
      </a>
      <input *ngIf="isEditing" [(ngModel)]="updatedResource.linkUrl" class="form-control mb-0" type="text">
      <hr>
    </div>

    <div *ngIf="isEditing" class="d-flex justify-content-end align-items-center mt-4 mb-2">
      <button (click)="toggleEditResource()" class="btn btn-outline-primary mr-2">
        Annuler
      </button>
      <button (click)="editResource()" class="btn btn-primary">
        <i class="fa fa-edit mr-2"></i>
        Éditer
      </button>
    </div>


    <!--    <div class="row col-12 mx-0 mt-3 mb-0 px-0">-->
    <!--      <button [routerLink]="'/resource/' + id" class="btn btn-outline-primary ml-auto">-->
    <!--        <i class="fa fa-eye mr-2"></i>-->
    <!--        <span>Détails</span>-->
    <!--      </button>-->
    <!--    </div>-->
    <div class="row col-12 mx-0 mt-3" style="font-size: .85em">
      <small class="ml-auto">
        <i class="fa fa-clock-o mr-1"></i>
        Postée le {{getDetailedFormattedDate(resource.createdAt)}}
      </small>
      <small *ngIf="resource.isEdited && resource.editedAt" class="ml-2">
        Éditée le {{getDetailedFormattedDate(resource.editedAt)}}
      </small>
    </div>

    <hr>
    <div *ngIf="!resource.isFromCurrentUser" class="mb-2 reactions_bar">
      <i (click)="likeResource()" *ngIf="!resource.likedByCurrentUser"
         class="fa fa-thumbs-up fa-2x reactions_bar__like_buttons like" container="body"
         ngbTooltip="Ajouter un pouce vers le haut" placement="top">
      </i>
      <i (click)="unlikeResource()" *ngIf="resource.likedByCurrentUser"
         class="fa fa-thumbs-up fa-2x reactions_bar__like_buttons unlike" container="body"
         ngbTooltip="Retirer votre pouce vers le haut"
         placement="top">
      </i>
    </div>


    <a (click)="toggleShowMessages()" class="d-flex justify-content-center align-items-center mb-3"
       style="cursor: pointer; text-decoration: none;">
      <small *ngIf="showMessages">Cacher les messages</small>
      <small *ngIf="!showMessages">Voir les messages ({{resource.messages?.length || 0}})</small>
      <i [ngClass]="showMessages ? 'fa-caret-up' : 'fa-caret-down'" class="fa ml-1"></i>
    </a>

    <div *ngIf="showMessages" class="c-resource-item__card__comments">
      <div class="row col-12 d-flex justify-content-center align-items-center mx-0 mb-2">
        <i class="fa fa-comments mr-2"></i>
        <small class="mb-0">Commentaires</small>
      </div>
      <hr>

      <div *ngIf="!resource.messages || resource.messages?.length === 0">
        <small>Il n'y a aucun commentaire pour l'instant</small>
      </div>
      <div *ngFor="let comment of resource.messages"
           class="row col-12 d-flex justify-content-around align-items-center mb-2 mx-0">
        <span *ngIf="!comment.isFromCurrentUser" class="badge badge-pill badge-secondary mr-2">
          <i *ngIf="!comment.isFromCurrentUser" class="fa fa-user fa-2x text-white"></i>
        </span>
        <div [ngClass]="comment?.isFromCurrentUser ? 'ml-auto alert-primary' : 'mr-auto alert-secondary'"
             class="alert mb-0 py-1 text-right resource-item-message">
          <small *ngIf="!comment?.isFromCurrentUser">
            {{comment?.user?.username}} :
          </small>
          <small>{{comment?.message}}</small>
        </div>
        <small *ngIf="comment?.isFromCurrentUser" class="mb-0 ml-2">Vous</small>
      </div>
      <form (submit)="sendMessage()">
        <div class="input-group mt-3">
          <input [(ngModel)]="comment.message" class="form-control m-0" name="comment"
                 placeholder="Écrire un message..."
                 type="text">
          <div class="input-group-append m-0">
            <button [disabled]="comment?.message == null || comment?.message === '' || comment?.message.length > 45"
                    class="btn btn-primary" type="submit">
              <i class="fa fa-envelope"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
