.c-add-resource-modal {
  padding: 1em 1em 2em 1em;

  form {

    > input, textarea {
      margin-bottom: 1.5em;
      border-radius: .5em;
      text-align: center;
    }
  }

  .uploaded-image-preview {
    max-height: 20em;
    max-width: 100%;
    border: 1px solid #ced4da;
  }
}
