<div class="c-add-resource-modal">
  <div class="col-12 my-2">
    <div class="text-center">
      <h2>Ajouter une ressource</h2>
      <hr>
    </div>
  </div>
  <div class="col-12 col-md-10 mx-auto">
    <div class="text-center my-2 mb-3">
      <button (click)="getCurrentLocation()" class="btn btn-outline-primary">
        <i class="fa fa-map-marker mr-2"></i>
        Ajouter ma position
      </button>
    </div>
    <form (submit)="addResource()" class="text-center">
      <div class="form-group">
        <label for="type">
          Type de ressource
        </label>
        <select [(ngModel)]="resourceToAdd.type" class="form-control" id="type" name="type">
          <option [value]="'default'">Défaut</option>
          <option [value]="'event'">Évènement</option>
          <option [value]="'event'" disabled>Sondage</option>
          <option [value]="'other'" disabled>Lien vers un post</option>
        </select>
      </div>
      <div *ngIf="resourceToAdd.type === 'event'">
        <div class="form-group">
          <label for="eventStartDate">
            Date de début
          </label>
          <input [(ngModel)]="resourceToAdd.eventStartDate" class="form-control" id="eventStartDate"
                 name="eventStartDate"
                 type="date">
        </div>
        <div class="form-group">
          <label for="eventEndDate">
            Date de fin
          </label>
          <input [(ngModel)]="resourceToAdd.eventEndDate" class="form-control" id="eventEndDate" name="eventEndDate"
                 type="date">
        </div>
      </div>
      <div class="form-group">
        <label for="name">
          Titre
        </label>
        <input #titleForm="ngModel" [(ngModel)]="resourceToAdd.title" class="form-control" id="name" name="title"
               type="text">
      </div>
      <div class="form-group">
        <label for="description">
          Description
        </label>
        <textarea #messageForm="ngModel" [(ngModel)]="resourceToAdd.message" class="form-control" id="description"
                  name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="uploadImageLabel">
          Image
        </label>
        <div class="text-center mt-2 mb-2 mt-md-4 mb-md-4">
          <div *ngIf="uploadedImage" style="position: relative;">
            <img [src]="uploadedImageBuffer" alt="Image de votre ressource"
                 class="mb-3 uploaded-image-preview">

            <button (click)="removeResourceImage()" class="btn btn-outline-danger"
                    style="position: absolute; top: 0; right: 0; transform: translate(50%, -50%);">
              <i class="fa fa-trash fa-2x"></i>
            </button>
          </div>
          <label class="btn btn-outline-primary" for="uploadImageInput" id="uploadImageLabel">
            <i class="fa fa-upload mr-2"></i>
            Choisir une image
          </label>
          <input (change)="uploadImage($event)" hidden id="uploadImageInput" name="uploadImageInput" type="file">
        </div>
      </div>
      <div class="form-group">
        <label for="url">
          Lien
        </label>
        <input [(ngModel)]="resourceToAdd.linkUrl" class="form-control" id="url" name="url" type="text">
      </div>
      <button [disabled]="!isFormValid()" class="col-12 btn btn-primary" type="submit">
        Ajouter
      </button>
    </form>
  </div>
</div>
