@import "../../../assets/scss/0.broth/colors";

.c-sidenav {
  //background: $color-primary-gradient;
  background-color: $brand-secondary;
  color: hsla(0, 0%, 100%, .8);
  width: 12rem;
  display: flex;
  flex-direction: column;
  transition: all .3s ease;
  height: 100%;
  font-variant: all-small-caps;
  text-align: center;

  &__content {

    &__menu {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      &__item {
        margin-bottom: 1em;
        font-weight: bolder;

        > button {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover {

          }

          &:focus {
            box-shadow: none !important;
            border: none !important;
          }

          &.active {
            background: $brand-primary !important;
            color: white !important;
          }


          @media screen and (max-width: 768px) {
            > span {
              display: none;
            }
          }

          > i {
            //margin-right: auto;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        > button {
          box-shadow: 4px 1px 9px rgba(0, 0, 0, .10);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .c-sidenav {
    width: 3.5rem;

    &__content {

      &__menu {
        padding: 0.4rem;

        &__item {

          > button {
            justify-content: center;

            > span {
              display: none;
            }

          }
        }
      }
    }
  }
}
