<div *ngIf="!loaders.authentication && isConnected" class="c-sidenav">
  <div class="c-sidenav__content">
    <div class="c-sidenav__content__menu">
      <div *ngIf="!isAdmin">
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/home" routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-home fa-2x"></i>
            <span>Accueil</span>
          </button>
        </div>
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/relations" routerLinkActive="active"
                  style="position: relative">
            <i aria-hidden="true" class="fa fa-address-book fa-2x"></i>
            <span>Relations</span>
            <span *ngIf="notifications.requests.number > 0"
                  [ngbTooltip]="'Vous avez ' + notifications.requests.number + ' demande' + (notifications.requests.number > 1 ? 's' : '') + ' en cours'"
                  class="badge alert alert-primary p-1"
                  style="position: absolute; top: 0; right: 0; transform: translate(50%, -50%)">
              {{notifications.requests.number}}
            </span>
          </button>
        </div>
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/resources" routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-file fa-2x"></i>
            <span>Ressources</span>
          </button>
        </div>
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/messages" routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-envelope fa-2x"></i>
            <span>Messagerie</span>
            <span *ngIf="notifications.chat_messages.number > 0"
                  [ngbTooltip]="'Vous avez ' + notifications.chat_messages.number + ' messages' + (notifications.chat_messages.number > 1 ? 's' : '') + ' non lus'"
                  class="badge alert alert-primary p-1"
                  style="position: absolute; top: 0; right: 0; transform: translate(50%, -50%)">
              {{notifications.chat_messages.number}}
            </span>
          </button>
        </div>
      </div>
      <!--   ADMIN   -->
      <div *ngIf="isAdmin">
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/admin/dashboard"
                  routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-tachometer fa-2x"></i>
            <span>Statistiques</span>
          </button>
        </div>
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/admin/users" routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-user fa-2x"></i>
            <span>Utilisateurs</span>
          </button>
        </div>
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/admin/resources"
                  routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-image fa-2x"></i>
            <span>Ressources</span>
          </button>
        </div>
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/admin/relations"
                  routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-users fa-2x"></i>
            <span>Relations</span>
          </button>
        </div>
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/admin/relation-requests"
                  routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-user-plus fa-2x"></i>
            <span>Requêtes</span>
          </button>
        </div>
        <div class="c-sidenav__content__menu__item">
          <button class="btn btn-outline-primary col-12" routerLink="/admin/chat"
                  routerLinkActive="active">
            <i aria-hidden="true" class="fa fa-envelope fa-2x"></i>
            <span>Messagerie</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
